altair==6.0.0
asgiref==3.11.1
attrs==25.4.0
bitarray==3.8.0
bitstring==4.4.0
blinker==1.9.0
cachetools==7.0.3
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
click==8.3.1
colorama==0.4.6
cryptography==46.0.5
dj-database-url==3.1.2
Django==6.0.3
esptool==5.2.0
git-filter-repo==2.47.0
gitdb==4.0.12
GitPython==3.1.46
idna==3.11
influxdb-client==1.50.0
intelhex==2.3.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
narwhals==2.17.0
numpy==2.4.2
packaging==26.0
pandas==2.3.3
pillow==12.1.1
plotly==6.6.0
protobuf==6.33.5
psycopg2-binary==2.9.11
pyarrow==23.0.1
pycparser==3.0
pydeck==0.9.1
Pygments==2.19.2
pyserial==3.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.1.post1
PyYAML==6.0.3
reactivex==4.1.0
reedsolo==1.7.0
referencing==0.37.0
requests==2.32.5
rich==14.3.3
rich-click==1.9.7
rpds-py==0.30.0
six==1.17.0
smmap==5.0.2
sqlparse==0.5.5
streamlit==1.55.0
tenacity==9.1.4
tibs==0.5.7
toml==0.10.2
tornado==6.5.4
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
watchdog==6.0.0
